body {
  background-image: url('../media/bg.jpg');
	background-attachment: fixed;
	margin: 0px auto;
	border: 5px solid black;
  text-align: left;
  font-family: Calibri;
}

#foreground {
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
  border: 5px solid white;
	width: 70%;
  background-color: #9eafca;
}

header {
  height: 310px;
}

#menubar {
  margin: 0px auto;
  padding: 5px 5px;
  /* padding-top: 7px; */
  border-top: 5px solid white;
	border-bottom: 5px solid white;
  background-color: #0c09bf;
  height: 35px;
  font-size: 18pt;
  color: white;
}

ul li{
  display: block;
  float: left;
  padding: 0px 20px 0px 0px;
}

main {
  margin: 20px;
  padding: 5px 10px;
  border-left: 5px solid red;
 	font-size: 14pt;
}

footer {
  padding: 5px;
  border-top: 5px solid white;
  background-color: #0c09bf;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 9pt;
}
